{
  "plan": {
    "providers": {
      "anthropic": {
        "api_key": "sk-ant-\u2026"
      }
    }
  },
  "write": {
    "providers": {
      "anthropic": {
        "api_key": "sk-ant-\u2026"
      }
    }
  },
  "repair": {
    "providers": {
      "anthropic": {
        "api_key": "sk-ant-\u2026"
      }
    }
  },
  "readme": {
    "providers": {
      "anthropic": {
        "api_key": "sk-ant-\u2026"
      }
    }
  }
}
