{
  "prevalidation": {
    "providers": {
      "anthropic": {
        "api_key": "sk-ant-the-real-key-of-the-prevalidator"
      }
    }
  },
  "analyst": {
    "conversation": {
      "providers": {
        "anthropic": {
          "api_key": "sk-ant-the-real-key-of-the-analyst"
        }
      }
    },
    "validation": {
      "providers": {
        "anthropic": {
          "api_key": "sk-ant-the-real-key-of-the-validator"
        }
      }
    }
  }
}
